<!--Aqui manejamos los estilos uniocos por cada componente -->
<div class="col-md-12 col-lg-12 col-sm-12">
	<!--<header class="row"> -->
	<div class="col-sm-12">
      <div class="laptop-wrapper">
        <iframe width="1423" height="620" src="https://www.youtube.com/embed/cRy5_KpPxyM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
	<!-- </header> -->
</div>
<script type="text/javascript">

</script>