<!DOCTYPE html>
<html>
	<header>
		 {{> header }}
	</header>
	<body>
		{{> nav }}
		<div class="container" style="padding: 10px;" >
			<div class="row">
				{{{body}}}
			</div>
		</div>
		<div class="container-fluid">
			<div class="row bg-dark text-white text-center">
				<div class="offset-sm-2 col-sm-2" style="padding-top: 50px;padding-bottom: 10px;">
					<i class="far fa-hand-paper fa-10x"></i>
				</div>
				<div class="col-sm-6" style="padding-top: 15px;padding-bottom: 30px;">
					<p style="padding-bottom: 30px;">
					 	<span class="blog__mainText__letter">P</span> ara evitar la propagación de la COVID-19:
						Lávese las manos con frecuencia. 
						Use agua y jabón o un desinfectante de manos a base de alcohol.
						Manténgase a una distancia segura de cualquier persona que tosa o estornude.
						No se toque los ojos, la nariz o la boca.<br>
						Cuando tosa o estornude, cúbrase la nariz y la boca con el codo flexionado o con un pañuelo.
						Quédese en casa si se siente mal.
						Si tiene fiebre, tos y dificultad para respirar, solicite atención médica. Llame con antelación.
						Siga las instrucciones de su organismo sanitario local.
						Evitar las visitas innecesarias a los centros de atención médica permite que los sistemas sanitarios funcionen con mayor eficacia, lo que redunda en su protección y en la de los demás.
					</p>
				</div>
			</div>
		</div>
	</body>
	<footer>
		{{> fotter }}
	</footer>
</html>
