<head>
	<title>{{render_title}}</title>
	<meta charset="utf-8">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<meta http-equiv="X-UA-Compatible" content='ie="edge"'>
	
	<!--Boostrap-->
	<link rel="stylesheet"  href="/css/bootstrap.min.css">
	<link rel="stylesheet"  href="/css/bootstrap.css">

	<!--Fa icon-->
	<link href="/fa/all.css" rel="stylesheet">

	<!--css -->
	<link rel="stylesheet"  href="/css/main.css">

	<!-- Animate css-->
	<link rel="stylesheet"  href="/css/animate.min.css">

	<!-- Font gogole-->
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200;1,300&display=swap" rel="stylesheet">
</head>