<div class="container-fluid">
	<div class="row">
		<nav class="col-md-12 navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="/">
					Gestor estadistico
				</a>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
				    <ul class="navbar-nav ml-auto">
				    	<li class="nav-item">
					        <a class="nav-link" href="/covid_info"> 
					        	<i class="fas fa-home"></i>
					        	Codiv-19 
					        </a>
				     	</li>
				     	<li class="nav-item">
					      	<a class="nav-link" href="#"> 
					        	<i class="fas fa-globe"></i>
					        	Paises(Cifras) 
					        </a>
				     	</li>
				     	<li class="nav-item">
					        <a class="nav-link" href="#">
					        	<i class="fas fa-user"></i>
					        	Referencias Personales 
					    	</a>
				    	</li>
				    	<li class="nav-item dropdown">
					        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          Opciones
					        </a>
					        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
					          <a class="dropdown-item" href="#">Ejemplo</a>
					          <a class="dropdown-item" href="#">Ejemplo2</a>
					          <a class="dropdown-item" href="#">Ejemplo3</a>
					        </div>
					    </li>
				    </ul>
				</div>
			</div>
		</nav>
	</div>
</div>