<!--Aqui manejamos los estilos uniocos por cada componente -->
<div class="col-md-12 col-lg-12 col-sm-12">
	<div class="row">
		<div class="col-lg-12 col-sm-12">
			<div class="text-dark text-center animate__animated animate__flipInY animate__slow">
				<div class="card" style="min-width: 0rem;max-width: 25rem;margin-left:auto;margin-right:auto;display:block;">
					<div class="img-card">
				 	 	<img src="img/persona_enferma.jpg">
					</div>
				    <div class="card-header bg-dark text-center text-white" style="border-radius: 10px;">
				    	<h5 style="margin : 0px;">Sintomas Comunes</h5>
					</div>
					<div class="card-content">
						<ul class="list-group list-group-flush">
						    <li class="list-group-item">Tos</li>
							<li class="list-group-item">Fiebre</li>
							<li class="list-group-item">Escalofríos</li>
							<li class="list-group-item">Dolor muscular</li>
							<li class="list-group-item">Dolor de garganta</li>
							<li class="list-group-item">Dificultad para respirar</li>
							<li class="list-group-item">Pérdida reciente del olfato o el gusto</li>
						</ul>
					</div>
					<div class="card-read-more text-center">
					    <a target="_black" href="https://www.who.int/es/emergencies/diseases/novel-coronavirus-2019" class="btn card_btn text-white">		Mas informacion
							<i style="margin-left: 5px" class="fas fa-arrow-right"></i>
					    </a>
					</div>
				</div>
			</div>
		</div>
 	</div>
	<!-- </header> -->
</div>
<script type="text/javascript"></script>